<ion-nav-bar class="bar-dark2">
    <ion-nav-bar class="bar-dark2">

    </ion-nav-bar>
</ion-nav-bar>
<ion-view id="xdd">

    <div class="img_box">
        <div class="img_big"></div>
        <img class="img3" src="images/register_bg.png" alt=""/>
    </div>
    <img class="img2" src="images/register_bg.png" alt=""/>
    <div class="black_box">
    </div>
    <div class="set-shot-nav">
        <a ui-sref="set-shot">
            <p>取消</p>
        </a>
        <div class="set-shot-nav-circle3">
            <div class="set-shot-nav-circle2"></div>
        </div>
        <p class="fr" style="padding-right: 4%;" ui-sref="picture-albums">使用照片</p>
    </div>
</ion-view>

