<ion-nav-bar class="bar-dark2">
    <ion-nav-bar class="bar-dark2">
        <ion-nav-buttons side="left">
            <button class="ha">
                <i class="ion-flash"></i>
            </button>
            <button class="ha">
                自动
            </button>
            <button class="ha">
                打开
            </button>
            <button class="ha ac">
                关闭
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
</ion-nav-bar>

<ion-view id="xdd">

    <div class="set-shot-nav">
        <p ui-sref="headportrait">取消</p>
        <div class="set-shot-nav-circle">
            <a ui-sref="set-photograph">
                <div class="set-shot-nav-circle2"></div>
            </a>
        </div>
    </div>
</ion-view>