<ion-nav-bar class="bar-dark2">
    <ion-nav-bar class="bar-dark2">
        <ion-nav-buttons side="left">

            <button class="ha2">
                <i class="ion-flash"></i><p>关闭</p>
            </button>
            <button class="ha2 fr">
                <i class="ion-ios-reverse-camera-outline"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
</ion-nav-bar>






<ion-view id="xdd">

    <img class="img" src="images/register_bg.png" alt=""/>
    <div class="set-shot-nav">
        <a ui-sref="set-shot">
            <p>取消</p>
        </a>
        <div class="set-shot-nav-circle">
            <a ui-sref="set-pictureset">
                <div class="set-shot-nav-circle2"></div>
            </a>

        </div>

    </div>
</ion-view>