<!--<ion-view>
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons class="">
            <button class="ha">
                <i class="ion-flash"></i>
            </button>
            <button class="ha">
                自动
            </button>
            <button class="ha">
                打开
            </button>
            <button class="ha ac">
                关闭
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
</ion-view>-->



<ion-view>
    <ion-content>
        <ion-nav-buttons class="bar-dark2">
            <div class="bntt" side="left" style="width: 100%;">
                <button class="ha">
                    <i class="ion-flash"></i>
                </button>
                <button class="ha">
                    自动
                </button>
                <button class="ha">
                    打开
                </button>
                <button class="ha ac">
                    关闭
                </button>
            </div>
        </ion-nav-buttons>
        <!--<img class="img" src="../../images/设置-拍照设置-白框_03.png" alt=""/>-->
        <div class="set-shot-nav">
            <p>取消</p>
            <div class="set-shot-nav-circle">
                <a href="../set/set-photograph.html">
                    <div class="set-shot-nav-circle2"></div>
                </a>

            </div>

        </div>
    </ion-content>
</ion-view>
