
<ion-view>
    <ion-content overflow-scroll="true" class="log_bg ">
        <div class="log_logo"><img src="images/火星社流程图_03.jpg"></div>
        <div class="log_list list">
            <label class="log_list_item item item-input">账号<input type="text" ng-value="">
                <span class="icon ion-ios-person-outline"></span></label>
            <label class="log_list_item item item-input">密码<input name="code" type="password">
                <span class="icon ion-ios-locked-outline"></span></label>
        </div>
        <button class="login" type="button" ui-sref="index">登录</button>
        <p class="logpassword"><a ui-sref="new_password">忘记密码?</a></p>
    </ion-content>
</ion-view>
