<ion-view>
    <ion-content overflow-scroll="true">
    <div class="pro_header">
        <a ui-sref="my_grades"><span>职业素质分</span></a>
    </div>
    <div class="main">
        <div class="pic01"><img src="images/professional_01.png"/></div>
        <div class="pic02"><img src="images/professional_02.png"/></div>
        <div class="text">
            <h1>95</h1>
            <p>请继续保持良好的<br/>
                考勤和学习状态</p>
        </div>
    </div>
    <div class="ul">
        <ul class="clearfix">
            <li>时间</li>
            <li>调整分数</li>
            <li>说明</li>
        </ul>
        <ul class="clearfix">
            <li>2016/4/19</li>
            <li>+2</li>
            <li>入选五星作品</li>
        </ul>
        <ul class="clearfix">
            <li>2016/4/10</li>
            <li>-0.5</li>
            <li>上午迟到</li>
        </ul>
        <ul class="clearfix">
            <li>2016/3/10</li>
            <li>-1</li>
            <li>下午缺勤</li>
        </ul>
    </div>
    </ion-content>
</ion-view>