<style>
    html{
        font-size: 62.5%;
    }
    .scroll-content2{
        padding-top: 5.5rem;
    }

</style>

<ion-view view-title="时间线">
    <ion-content class="has-header bgcolor">
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>
        1 <br/>

    </ion-content>
</ion-view>