<ion-view>
    <ion-content class="scroll-content3">
        <div class="to_CGTOP">
            <!--<button class="button3 button-icon ion-ios-arrow-back fl" ui-sref="CGTOP_flow"></button>-->
            <img class="back_pic fl" src="images/back.png" alt="" ui-sref="CGTOP_flow"/>
            <h3 ui-sref="CGTOP_flow" class="title4 fl">创意在哪里？</h3>
        </div>
        <!--<img class="shipin_img" src="images/CGTOP视频1.png" alt=""/>-->
        <video src="images/t0016p7cmqp.p1301.1.mp4" class="shipin_img" controls="controls" autoplay="autoplay"></video>
    </ion-content>
</ion-view>