<ion-view>
    <ion-nav-buttons side="left" class="bar-positive2 bar-Borland">
        <!--<button class="button-clear ion-chevron-left"  ui-sref="tab.timeline">

        </button>-->
        <button class="button-clear"  ui-sref="tab.timeline">
            <img class="portrait_img" src="images/back.png" alt=""  ui-sref="tab.timeline"/>
        </button>
        <button  class="button-clear button3" ui-sref="tab.timeline">
            <p>职业素质分</p>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div  id="zyszf">
            <!--职业素质分-->
            <div class="zhiyesuzhifen">
                <img src="images/职素分-状态01_07.png" alt=""/>
                <h3 class="center_number">95</h3>
                <p class="text2">请继续保持良好的考勤和学习状态</p>
            </div>
            <ul class="content_list">
                <li>
                    <dl>
                        <dd>时间</dd>
                        <dd>调整分数</dd>
                        <dd>说明</dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dd>2016/4/19</dd>
                        <dd>+2</dd>
                        <dd>入选五星作品</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dd>2016/4/10</dd>
                        <dd>-0.5</dd>
                        <dd>上午迟到</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dd>2016/3/10</dd>
                        <dd>-1</dd>
                        <dd>上午迟到</dd>
                    </dl>
                </li>



            </ul>
        </div>
    </ion-content>



</ion-view>