<ion-view>
    <ion-content overflow-scroll="true">
        <ion-header-bar class="top_nav" align-title="center">
            <div class="top_nav_l">
                <a ui-sref="index">作品盒子</a>
            </div>
            <div class="top_nav_r clearfix">
                <a ui-sref="search_name"><img src="images/sousuo.png"> </a>
            </div>
        </ion-header-bar>
        <div class="wrap">
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
            <div class="box">
                <div><a ui-sref="Peking_Opera"><img src="images/京剧盒子.png"></a></div>
                <div class="con_t">
                    <h3><img src="images/设置_07.png"><span>李雷</span></h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>