<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- 主页 Tab -->
    <ion-tab title="主页" icon-off="ion-ios-home-outline" icon-on="" ui-sref="index">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <!-- 助手 Tab -->
    <ion-tab title="助手" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/helper">
        <ion-nav-view name="helper"></ion-nav-view>
    </ion-tab>

    <!-- 社区 Tab -->
    <ion-tab title="社区" icon-off="ion-ios-person-outline" icon-on="ion-chatbox-working"  href="#/tab/CGTOP">
        <ion-nav-view name="CGTOP"></ion-nav-view>
    </ion-tab>

</ion-tabs>