<ion-nav-bar class="bar-positive2">
    <ion-nav-buttons side="left" class="bar-positive2 bar-Borland">
        <button class="button-clear"  ui-sref="headportrait">
            <img class="portrait_img" src="images/back.png" alt=""  ui-sref="tab.timeline"/>
        </button>
        <button  class="button-clear" ui-sref="headportrait">
            <p>设置</p>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>




<ion-view id="bac">
    <div class="list list-inset list-inset2">
        <label class="item item-input">
            <input type="password" ng-model="data.password1" ng-minlength="6" ng-maxlength="32" placeholder="原密码">
        </label>
        <label class="item item-input">
            <input type="password" ng-model="data.password2" ng-minlength="6" ng-maxlength="32" placeholder="新密码">
        </label>
        <label class="item item-input">
            <input type="password" value="" ng-model="data.password3" ng-minlength="6" ng-maxlength="32" placeholder="确认新密码">
        </label>
        <div class="pass_tit">
            <p>密码长度至少6个字符，最多32个字符</p>
        </div>
        <div class="button button-full btuuon_submit" ui-sref="headportrait" ng-disabled="!data.password1 || !data.password2 || !data.password3">
            <p>提交</p>
        </div>
        <!--<a class="button button-full btuuon_submit"  ui-sref="headportrait"
           ng-disabled="!data.password1 && !data.password2 && !data.password3"  ng-click="btusubmit()">提交</a>-->
    </div>

</ion-view>