<ion-view>
    <ion-header-bar class="log_header">
        <div class="log_header_backarrow" ui-sref="log"><img src="images/back.png" alt="无法加载..."/></div>
        <p class="log_back"><a>忘记密码</a></p>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header">
        <form name="shippingForm" novalidate>
            <div class="log_name">
                <label>电话</label>
                <input name="tel" type="tel" class="form-control" ng-model="data.shipping.tel" required/>
                <span class="error" ng-show="shippingForm.tel.$error.required && shippingForm.tel.$dirty">输入的格式不正确</span>
            </div>
            <div class="log_name">
                <label>验证码</label>
                <input name="code"  class="form-control" ng-model="data.shipping.code" required/>
                <span class="error" ng-show="shippingForm.code.$error.required && shippingForm.code.$dirty">输入的格式不正确</span>
            </div>
            <div class="log_name">
                <label>新密码</label>
                <input type="password" name="password" class="form-control" ng-model="data.shipping.password" required/>
                <span class="error" ng-show="shippingForm.password.$error.required && shippingForm.password.$dirty"></span>
            </div>
            <div class="log_name">
                <label>确认新密码</label>
                <input type="password" name="new_password" class="form-control" ng-model="data.shipping.new_password" required/>
                <span class="error" ng-show="shippingForm.new_password.$error.required && shippingForm.new_password.$dirty">输入密码不一致</span>
            </div>

            <button class="button_log btn btn-primary" ng-disabled="shippingForm.$invalid" type="button" ><a ui-sref="log">提交</a><img src="images/设置-密码设置-按钮_07.png" alt=""/></button>
            <button class="button_password" type="button">忘记密码?</button>
        </form>
    </ion-content>
</ion-view>
