<style>
    html{
        font-size: 62.5%;
    }
    .scroll-content2{
        padding-top: 5.5rem;
    }

</style>
<ion-nav-bar class="bar-positive2">
    <ion-nav-buttons>
        <button class="button2 active" ui-sref="CGTOP">
            <a href="javascript:;">CGTOP</a>
        </button>
        <button class="button2" ui-sref="activity_inform">
            <a href="javascript:;">活动通知</a>
        </button>
        <button class="button2" ui-sref="campus_broadcast">
            <a href="javascript:;">校园通知</a>
        </button>
        <button class="button2" ui-sref="mail">
            <a href="javascript:;">邮件</a>
        </button>

    </ion-nav-buttons>
</ion-nav-bar>
<ion-view>
    <ion-content class="scroll-content2">
        <ul class="profile">
            <li ng-repeat="cgtop1 in cgtop"  ui-sref="CGTOP_flow">
                <a href="#"><img ng-src="{{cgtop1.imgurl}}"></a>
                <div class="content_box1">
                    <h3>{{cgtop1.title}}</h3>
                    <p>{{cgtop1.content}}</p>
                </div>
                <div class="content_black"></div>

            </li>
           <!-- <li>
                <a href="#"><img src="images/CGtop_pic_02.gif"></a>
                <div class="content_box1">
                    <h3>创意在哪里？</h3>
                    <p>#海报设计</p>
                </div>
                <div class="content_black"></div>

            </li>
            <li>
                <a href="#"><img src="images/CGtop_pic_03.gif"></a>
                <div class="content_box1">
                    <h3>奇幻森林之旅</h3>
                    <p>#影视特效</p>
                </div>
                <div class="content_black"></div>
            </li>
            <li>
                <a href="#"><img src="images/CGtop_img3.png"></a>
                <div class="content_box1">
                    <h3>我们一路向前</h3>
                    <p>#行业经验</p>
                </div>
                <div class="content_black"></div>
            </li>-->

        </ul>
        <!--无限滚动-->
        <!--<ion-infinite-scroll on-infinite="loadMore()" distance="1%" spinner="spiral">
        </ion-infinite-scroll>-->
        <div class="mywlsy" ng-show="wuwangluotishifirm">
            <img src="images/无网络提醒.png" alt=""/>
            <h3 class="hmsdxytz">无网络接收不到火星的信号了！          </h3>
        </div>
    </ion-content>
    <ion-footer-bar class="CGTOP_footer">
        <ul class="icon_pic">
            <li>
                <img src="images/首页 未点亮.png" alt=""/>
                <p>主页</p>
            </li>
            <li>
                <img src="images/助手.png" alt=""/>
                <p>助手</p>
            </li>
            <li ui-sref="CGTOP">
                <img src="images/社区-选中_03.png" alt=""/>
                <p>社区</p>
            </li>

        </ul>
    </ion-footer-bar>
</ion-view>