<ion-view>
    <ion-content overflow-scroll="true">
        <ion-header-bar class="top_nav" align-title="center">
            <div class="top_nav_l">
                <a ui-sref="index_littlebro"></a>
            </div>
            <div class="top_nav_r clearfix">
                <a ui-sref="Peking_Opera2"><img src="images/zan.png"></a>
            </div>
        </ion-header-bar>
        <div class="theme clearfix">
            <div class="theme_1 clearfix">
                <h3>京剧故事主题图标</h3>
                <span class="theme_1_span"><img src="images/copy1.png"><a href="">75</a><img src="images/copy2.png"><a href="">19</a></span>
            </div>
            <div class="con_t">
                <h3><img src="images/设置_07.png"><span>李雷 1512期UI视觉设计师班1班</span></h3>
            </div>
            <img src="images/jingju_03.jpg">
        </div>
    </ion-content>
</ion-view> 